
.message-list li{background-color:#fff;padding:15px;margin-top:10px;line-height:22px;font-size:16px;text-align:justify;}
.message-list li a{color:#333;}
.dq-message h3{font-size:18px;padding:6px 15px;font-weight:500;}
.dq-message{background-color:#fff;margin:10px 0 20px;}
.dq-message > ul{padding-bottom:15px;}
.dq-message > ul li{padding:8px 12px;border-bottom:1px solid #f3f3f3;line-height:1.2;font-size:16px;}
.dq-message > ul li a,.dq-message > ul li i{display:table-cell;vertical-align:middle;}
.dq-message > ul li i{width:4px;background-color:#ca76b3;border-radius:2px;}
.dq-message > ul li a{padding-left:10px;color:#333;}
.pagination.pagination-con{padding:20px 10px 10px;}
.article-message{background-color:#fff;padding:12px;margin-top:10px;}
.article-message article{font-size:20px;color:#97499f;border-left:3px solid #cf0093;padding-left:5px;box-sizing:border-box;line-height:1.2;text-align:justify;}
@media (max-width:320px){	
	.message-list li{font-size:14px;}
	.dq-message > ul li{font-size:14px;}
	 
}

































